{% load widget_tweaks %}

          <div class="row">
            <div class="col-xl order-xl-2 mb-5 mb-xl-0">
              <div class="card-body pt-0 ">
                <div class="scrollindicatorheader">
                  <div class="scrollindicator-container">
                    <div class="scrollindicator-bar" id="myBar"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row justify-content-center">
                    </div>

                    <form method="post">
                      {% csrf_token %}
                      <div class="row justify-content-center">
                        <div>
                        
                    <img src="data:image/jpeg;base64,{{ revenueMarginPlotBase64 }}" alt="Revenue and Gross Margin">
                    <img src="data:image/jpeg;base64,{{ volumePricePlotBase64 }}" alt="Volume and Prices">
                    <img src="data:image/jpeg;base64,{{ SliderPlotBase64 }}" alt="Prices Adjustment">

                  </div>




                      </div>
                    </form>

                    <br>

                    <a href="/productMarketing/boupSaveAndSubmit/{{projectId}}" class="btn btn btn-success">Save and submit</a>

                    <br>
                    <br>
                    <a href="/productMarketing/boupSaveAsDraft/{{projectId}}" class="btn btn btn-warning">Save as a draft</a>

                    <br>
                    <!--  <input type="submit" value="Speichern" class="btn btn-info">-->
                  </div>
                </div>
              </div>
            </div>
          </div>

