{% extends 'base.html' %} {% load custom_tags static crispy_forms_tags %} {% block extra_css %}

<link href="{% static 'libs/select2/dist/css/select2.min.css'%}" rel="stylesheet" type="text/css" />

{% endblock extra_css %} {% block title %} Project Creation {% endblock title %} {% block breadcrumbs %} {% breadcrumb "Project Entry" "create_project_view" %} {% breadcrumb "New Dummy Sales Name" %} {% endblock breadcrumbs %} {% block contents %}

<div class="card-body">
    <h5 class="h3">Dummy Product Entry</h5>
    <p class="card-title-desc">Required fields are marked with *</p>
    <div class="row justify-content-center">
        <div class="fluid-container" style="z-index: 1">
            <ul class="progressbar p-0">
                <li class="active">Select Dummy Type</li>
                <li class="active">Details</li>
            </ul>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mt-4">
                {{ form.media.js }}

                <div class="row">

                    <!-- consistency validation errors -->
                    {% if createSalesNameSuccess == False %} {% for error in creationInformation %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} {% endif %}

                    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} {% endif %}
                    <div class="col-12 mb-3">
                        <div class="mt-4">
                            <div class="accordion" id="createVolume">
                                <div class="row" id="automaticDiv">
                                    <div class="col-md-4 col-lg-3">{{form.product_family|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3">{{form.product_series|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3">{{form.product_package|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3">{{form.product|as_crispy_field}}</div>
                                    <div class="col-md-4 col-lg-3">{{form.new_sales_name|as_crispy_field}}</div>
                                </div>
                            </div>
                            <!-- end accordion -->
                        </div>
                    </div>

                    <div id="submitBtn">
                        <div class="d-flex flex-wrap justify-content-center gap-2">

                        <button class="btn btn-secondary save-baseline mb-3" type="submit" id="compare_submit">Create Sales Name</button>
                    </div>

                        <!-- 
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <input type="submit" class="btn btn-success" value="Next Step" />
                        </div>
                        -->
                    </div>

                    <br>
                    {% if createSalesNameSuccess == True %} {% for error in creationInformation %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} {% endif %}

                </div>

                <!-- end accordion -->
            </div>
        </form>
    </div>
</div>

{% endblock contents %} {% block extra_javascript %}

<script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script>
<script>
    
    $(document).ready(function () {
        // select2 on sales name

        var product_family = $("#id_product_family")
        var product_series = $("#id_product_series")
        var product_package = $("#id_product_package")
        var product = $("#id_product")

        product_family.select2({
            width: "100%",
        })
        product_series.select2({
            width: "100%",
        })
        product_package.select2({
            width: "100%",
        })
        product.select2({
            width: "100%",
        })

        // select series
        product_family.on("select2:select", function () {
            inputData = product_family.select2('data')[0].text
            console.log("family selected", this.value, this.text, inputData)
            $.post("{% url 'series_list_json' %}", {query: product_family.select2('data')[0].text}, function (data, status) {
                console.log("got family sel", data.data)
                var series = data.data
                product_series.empty().trigger("change")
                var newOptions = [new Option("---------", "", true, true)]
                series.forEach((element, key) => {
                    newOptions.push(new Option(element.text, element.familyHelper, false, false))
                    console.log("new option", element.text, element.familyHelper, false, false)
                })
                product_series.append(newOptions).trigger("change")
            })
        })

        // select packages
        product_series.on("select2:select", function () {
            //console.log("this", this, "text", this.text)
            inputData = product_series.select2('data')
            //console.log(inputData[0])
            //console.log(inputData[0].text, inputData[0].id)
            familyValue = inputData[0].id
            seriesValue = inputData[0].text

            $.post("{% url 'package_list_json' %}", {family: familyValue, series: seriesValue}, function (data, status) {
                console.log("got series sel", data.data)

                var packages = data.data
                product_package.empty().trigger("change")
                var newOptions = [new Option("---------", "", true, true)]
                packages.forEach((element, key) => {
                    newOptions.push(new Option(element.packageHelper, element.seriesHelper, element.familyHelper, false, false))
                })
                product_package.append(newOptions).trigger("change")
            })
        })

        // select sales name
      // select sales name
      product_package.on("select2:select", function () {

        inputData = product_package.select2('data')
        fam = product_family.select2('data')[0].text
        ser = product_series.select2('data')[0].text
        console.log(inputData[0].text, inputData[0].id)
        packageValue = inputData[0].text 

        $.post("{% url 'product_list_json' %}", {package: packageValue, series: ser, family: fam}, function (data, status) {
            var names = data.data

            product.empty().trigger("change")
            //sales_name.empty().trigger("change")
            var newOptions = [new Option("---------", "", true, true)]

            names.forEach((element, key) => {
                console.log("pushing element", element.text, "val", key, "element", element)
                newOptions.push(new Option(element.text, element.id, false, false))
            })

            product.append(newOptions).trigger("change")

            console.log("product selection resulting hfg, ppos", data.hfg, data.ppos)
        })
        })
    })

</script>


{% endblock extra_javascript %}
