{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}


{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block extra_css %}
<style>
  .mt-10{
    margin-top: 10px !important;
  }
  .mt-30{
    margin-top: 30px !important;
  }
  .mt-50{
    margin-top: 50px !important;
  }
  .card{
    box-shadow: none !important;
  }
  .color-pink{
    background-color: #AB377A !important;
    color: white;
  }
  .new_label{
    border: 1px solid;
    border-radius: 30px;
    width: 140px;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .save-baseline{
    width: 174px !important;
    margin-top: 30px !important;
    border-radius: 30px !important;
    background-color: #AB377A !important;
    border: none !important;
    font-size: 18px !important;
  }
  .center {
    text-align: center !important;
  }
  .bx-info-circle{
    background-color: #5EA290;
    color: white;
    border-radius: 50%;
    margin-left: 23px;
  }
  label{
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  .tablinks{
    color: #AB377A;
    font-weight: bold !important;
    padding: 12px 30px;
    font-size: 15px !important;
    border-bottom: 5px solid;
    cursor: pointer;
  }
  .border-0{
    border: none !important;
  }
  .accordion-header{
    text-align: center;
  }
  .tab-container{
    min-height: 500px;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 6px solid #AB377A;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 6px solid #edd2e2;
    width: 220px;
  }
  .tab {
    overflow: hidden;
    padding: 0px 10px;
  }
  .big-text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 60px !important;
    line-height: 75px;
    text-align: center;
    color: rgba(30, 30, 30, 0.1);
    margin-right: 35px;
    position: relative;
    top: 10px;
  }
  .chart-header{
    font-size: 26px;
    padding-left: 60px !important;
    color: black;
  }
  .baseline-table{
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
  }
  .baseline-table table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  th{
    padding: 2px;
    background: #FBFBFF;
  }
  td{
    padding: 5px;
    border-top: 1px solid !important;
    border-right: 1px solid !important;
  }
  td:last-child{
    border-right: none !important;
  }
  .float-right{
    float: right;
  }
  .align-right{
    float: right;
    clear: both;
  }
  .text-gray{
    color: #A7A7A7;
  }
  .text-bold{
    font-size: 20px;
    font-weight: 600;
  }
  .text-regular{
    font-weight: 400;
    font-size: 16px;
  }
</style>
{% endblock extra_css %}

{% block contents %}

  <div class="card-body">
    <h3 class="h3">Project Deepdive</h3>
    <div class="col-12">

      <div class="tab">
        <button class="tablinks active" data-tab="inspect" id="defaultOpen" onclick="openTab('inspect')">OVERVIEW</button>
        <button class="tablinks" data-tab="baselines" onclick="openTab('baselines')">PROJECT DETAILS <i class="mdi mdi-square-edit-outline "></i></button>
        <button class="tablinks" data-tab="inspect" id="defaultOpen" onclick="openTab('inspect')">VOLUME <i class="mdi mdi-square-edit-outline "></i></button>
        <button class="tablinks" data-tab="inspect" id="defaultOpen" onclick="openTab('inspect')">PRICING <i class="mdi mdi-square-edit-outline "></i></button>
      </div>

      <div class="tab-container">

        <div id="inspect" class="tabcontent">
          <div class="row mt-10">
            {% if projectLevelErrors %} {% for error in projectLevelErrors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %} {% endif %}
          </div>
  
          <div class="row mt-6">
            {% if successMessages %} {% for error in successMessages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %} {% endif %}
          </div>
    
   
  
  
          <div class="card-body">
              <h3 class="h3">Project Key Facts  - Project # {{projectId}}</h3>
              <h3 class="h4">Draft:  {{project.draft}}</h4>

              <div class="col-12">

                <div class="row mt-50">
                  <div class="col-6 chart-header">Revenue (weighted)</div>
                  <div class="col-6 chart-header">Gross Margin (weighted)</div>
                  <div class="float-right">
                    <select name="years" id="years" class="btn" onchange="changeYear()">
                    </select>
                  </div>
                </div>
                <hr>
    
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <canvas id="revenue"></canvas>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <canvas id="profit"></canvas>
                  </div>
                </div>
  
              <div class="row justify-right">
                  <div class="col-md-4"></div>
                  <div class="col-md-5 col-sm-12">
                    <div class="baseline-table">
                      <table>
                        <thead>
                        <tr>
                          <th>Baseline ID</th>
                          <th>Name</th>
                          <th>Status Probability</th>

                          <th>Total Volume</th>
                          <th>Weighted Volume</th>
                          <th>Total Revenue</th>
                          <th>Weighted Revenue</th>
                          <th>Average ASP</th>
                          <th>Cost</th>
                          <th>Gross Margin</th>
                          <th>Total Weighted Cost Margin</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ project.id }}</td>
                          <td>{{ project.projectName }}</td>
                          <td>{{ project.status.statusDisplay }}</td>
                          <td>{{ sumVolume }}</td>
                          <td>{{ sumWeightedVolume }}</td>
                          <td>{{ sumRevenue }}.</td>
                          <td>{{ sumWeightedRevenue }}</td>
                          <td>{{ averageAsp }}</td>
                          <td>{{ sumCost }}</td>
                          <td>{{ sumGrossMargin }}</td>
                          <td>{{ sumWeightedGrossMargin }}</td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </div>
                  <div class="col-md-3 col-sm-12 ">
                    <div class="align-right">
                      <div>
                        <span># id</span>
                        <span>Baseline 1</span>
                        <span>Tag</span>
                      </div>
                      <div>
                        <i class=""></i>
                        <span>Snapshot comment here</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

      </div>

      <div class="align-right mt-10">
        <div class="text-bold">
          <span>Project Key Facts -  # {{projectId}}.</span>
          <span> Key: - {{project.mainCustomer}} - {{project.finalCustomer}} - {{project.sales_name.rfp.ppos}} -  {{project.projectName}}</span>
          <br>

          <span class="text-gray"> Draft:  {{project.draft}}</span>
          <br>
          <span>Main Customer: {{project.mainCustomer}} </span>
          <br>
          <span>End Customer: {{project.finalCustomer}} </span>
          <br>
          <span>Sales Name: {{project.sales_name.rfp.ppos}}</span>
          <br>

        <div class="text-regular">
          <i class=""></i>
          <span>Start of Production:  {{project.estimatedSop}}</span><br>

          <span>VPA Customer:  {{project.vpaCustomerProject}}</span><br>
          <span>Distributor:  {{project.distributor}}</span><br>
          <span>Tier One:  {{project.tier1}}</span><br>
          <span>EMS:  {{project.ems}}</span><br>
          <span>RFP:  {{project.sales_name.rfp.rfp}}</span><br>
          <span>HFG:  {{project.sales_name.rfp.hfg}}</span><br>
          <span>First Region:  {{project.region}}</span><br>
          <span>Second Region:  {{project.secondRegion}}</span><br>

          <span>Comments: {{ project.comment }}</span><br>
          <span>Status / Probability: {{ project.status }}</span> <br>
          <span>Price validity until: {{ project.priceValidUntil }}</span> <br>
          <span>Marketer: {{ project.productMarketer }}</span> <br>
          <span>Creation date: {{ project.creationDate }}</span> <br>
          <span>Modification date: {{ project.modifiedDate }}</span> <br>
          <span>Modified by: {{ project.user }}</span> <br>
          <span>Mod reason: {{ project.modReason }}</span> <br>
          <span>Project reviewed: {{ project.projectReviewed }}</span> <br>
          <span>Project review date: {{ project.reviewDate }}</span> <br>
        </div>
      </div>
        </div>

      </div>

    </div>
  </div>


{% endblock contents %}
<!-- Specific Page JS goes HERE  -->
{% block extra_javascript %}

<!-- Chart JS -->
<script src="{% static 'libs/chart.js/Chart.bundle.min.js' %}"></script>


<script>

// init chart
const ctxRevenue = document.getElementById('revenue');
const ctxProfit = document.getElementById('profit');
let revenue
let profit
let revenueValuesBaseline1
let profitValuesBaseline1
let years


$(document).ready(function () {
    revenueValuesBaseline1 = {{revenue}} //[100,200,300,400,400,400,400,400] // {{revenue}} // JSON.parse("{{revenueValuesBaseline1}}")
    profitValuesBaseline1 = {{grossMargin}} //JSON.parse("{{profitValuesBaseline1}}")
    years =  {{years}}  //JSON.parse("{{years}}")
    console.log('years',revenueValuesBaseline1, profitValuesBaseline1, years)

    // add years in dropdown
    let options = ''
    let i
    for(i=0;i< Math.floor(years.length/10);i++) {
        options += `<option value="${i}">${years[i * 10]} - ${years[i * 10 + 9]}</option>`;
    }
    if(i * 10 < years.length) options += `<option value="${i}">${years[i * 10]} - ${years[years.length - 1]}</option>`;
    $("#years").html(options);


    const dataRevenue = {
        datasets: [{
            label: 'Project',
            data: revenueValuesBaseline1.slice(0, 10),
            // order: 2,
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: '#93349547',
            borderWidth: 1,
            borderRadius: 2,
            borderSkipped: false,
        }],
        labels: years.slice(0, 10)
    };
    const dataProfit = {
        datasets: [{
            label: 'Project',
            data: profitValuesBaseline1.slice(0, 10),
            // order: 2,
            borderColor: 'rgb(153, 102, 255)',
            backgroundColor: '#b09fa245',
            borderWidth: 1
        }],
        labels: years.slice(0, 10)
    };

    const configRevenue = {
        type: 'bar',
        data: dataRevenue,
        options: {
        responsive: true,
        scales: {
            y: {
            beginAtZero: true
            }
        },
        plugins: {
            tooltip: true
        }
        }
    };
    const configProfit = {
        type: 'bar',
        data: dataProfit,
        options: {
        responsive: true,
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    };


    revenue = new Chart(ctxRevenue, configRevenue);
    profit = new Chart(ctxProfit, configProfit);

})


function changeYear() {
  const id = Number($("#years").val());
  // revenue chart udpate
  revenue.data.datasets[0].data = revenueValuesBaseline1.slice(id * 10, id * 10 + 10);
  revenue.data.labels = years.slice(id * 10, id * 10 + 10)
  revenue.update();
  // profit chart udpate
  profit.data.datasets[0].data = profitValuesBaseline1.slice(id * 10, id * 10 + 10);
  profit.data.labels = years.slice(id * 10, id * 10 + 10)
  profit.update();
}
function getSnapshots() {
    // get all snapshots
    $.ajax({
        url: "./snapshots",
        method: 'GET',
        success: function (data) {
          console.log('snapshots',data);
          const snapshots = data.map(el => {
            return `<option value="${el.id}">${el.snapshotName}</option>`;
          })
          $("#baseline1, #baseline2").append(snapshots)
        }
    });

  }

  function handleSubmit() {
    const baseline1 = $("#baseline1").val();
    if(baseline1) {
      $("#deepdive_submit").prop('disabled', false)
    }
  }

  // tags script
  function openTab(cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    $('button[data-tab="' + cityName + '"]')[0].className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  //getSnapshots();
</script>


{% endblock extra_javascript %}

