{% extends 'base.html' %} {% load custom_tags static crispy_forms_tags %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/spreadsheet/dist/css/jquery.jcalendar.css' %}" />

{% endblock extra_css %} {% block title %} Project Overview {% endblock title %} {% block breadcrumbs %} {% breadcrumb "Project Entry" "project_management_all_view" %} {% breadcrumb "New Project" %} {% endblock breadcrumbs %} {% block contents %}

<div class="card-body">
    <div class="row justify-content-center">
        <div class="fluid-container" style="z-index: 1">
            <ul class="progressbar p-0">
                <li class="active">Project Creation</li>
                <li class="active">Volume Entry</li>
                <li class="active">Pricing Entry</li>
                <li class="active">Overview</li>
            </ul>
        </div>

        <!-- new  -->

        <img src="data:image/jpeg;base64,{{ revenueMarginPlotBase64 }}" alt="Revenue and Cost Margin" />
        <img src="data:image/jpeg;base64,{{ FYrevenueBase64 }}" alt="Revenue and Cost Margin FY" />
        <img src="data:image/jpeg;base64,{{ volumePricePlotBase64 }}" alt="Volume and Prices" />
        <img src="data:image/jpeg;base64,{{ MonthVolumeBase64 }}" alt="Prices Adjustment" />

        {% include "productMarketing/tableau/graphics_step4.html" %}

        <div class="d-flex flex-wrap justify-content-center gap-2">
            <a href="/ifx/productMarketing/boupSaveAndSubmit/{{projectId}}" class="btn btn btn-success">Save and submit</a>
            <a href="/ifx/productMarketing/boupSaveAsDraft/{{projectId}}" class="btn btn btn-warning">Save as a draft</a>
        </div>

        <!-- new end -->
    </div>
</div>

{% endblock contents %} {% block extra_javascript %} {% endblock extra_javascript %}
