<nav class="navbar nav-pills navbar-light navbar-expand-lg nav-fill bg-transparent float-end">
  <!--  navbar-light -->
  <!-- <a class="navbar-brand" href="communication.html">Kommunikation - Home</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav bg-light">
      <a class="btn btn-success m-2" href="{% url 'analytics' %}""> Analytics</a>     
      <a class="btn btn-success m-2" href="{% url 'productMasterData' %}"> Product Master Data</a>     
      <a class="btn btn-success m-2" href="{% url 'vrfc' %}"> VRFC</a>     
      <a class="btn btn-success m-2 " href="{% url 'dragon' %}"> Dragon</a>

    </div>
  </div>
</nav>