<br>
  <div class="form-row">
    <label for="productSelectionForm2.prodSalesName">Application Detail</label>
  </div>

  <div class="form-row">
    <select name="applicationDetail" class="form-control">
          <option value selected>---------</option>
          {% for nameD in applicationDetailsArray %}
          <option value={{nameD.pk}}>{{nameD}}</option>
          {% endfor %}          
      </select>
  </div>

  {% if appDetailError == True %}
  <div class="alert alert-danger">
    <strong>Please enter a valid application detail.</strong>
  </div>
  {% endif %}

