{% load widget_tweaks %}



<div class="row justify-content-center">

  <div class="col-md-6">
    <div class="row justify-content-center ">
  
      <div class="container mx-auto" style="z-index: 1;">
        <ul class="progressbar p-0">
          <li class="active">File select</li>
          <li>Parameters</li>
          <li>Review</li>
        </ul>
      </div>
    </div>
    <br>

    <h5>Drag and drop your Excel template here.</h5>
    <br>

      <!-- <form method="post" action="" id="#"> -->
      <form action="" id="#">

        <div class="form-group files">
              <div class="form-row">

              <input type="file" class="form-control" multiple="">
              <br>
            </div>
          </div>
        </div>

        </form>
      
</div>