{% extends "base.html" %}

{% block title %} Import / Export {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extra_css %}{% endblock extra_css %}

{% block contents %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                          
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="col-md-12">
                                                <div class="page-header-title">
                                                    <h5 class="m-b-10"><a href="/"><i class="feather icon-home"></i></a>  Import / Export</h5>
            

                                                    
                                                </div>
                                             
                                            </div>


                                        </div>
                                        <div class="card-block">
                                   



                                            <div class="row">
                                                {% if step == 0 %}
                                                <h4 class="display-4">Mass Update Flow</h4>
                                                {% elif step == 1 %}
                                      
                                                <h4 class="display-4">Review and export to VRFC/h4>
                                                {% elif step == 2 %}
                                                <h4 class="display-4">Review and export to BlueBook</h4>
                                                {% endif %}
                                              </div>


                                              <div class="row">
                                                <nav class="navbar nav-pills navbar-light navbar-expand-lg nav-fill bg-transparent float-end">
                                                  <!--  navbar-light -->
                                                  <!-- <a class="navbar-brand" href="communication.html">Kommunikation - Home</a>-->
                                                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                                    <span class="navbar-toggler-icon"></span>
                                                  </button>
                                                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                                    <div class="navbar-nav bg-light">
                                                      <a class="btn btn-success m-2" href="/ifx/productMarketing/projectManagement/0"> Mass Update </a>     
                                                      <a class="btn btn-success m-2" href="/ifx/productMarketing/projectManagement/1"> Review and export to VRFC</a>     
                                                      <a class="btn btn-success m-2" href="/ifx/productMarketing/projectManagement/2"> Review and export to BlueBook</a>     
                                                      <a class="btn btn-success m-2" href="/ifx/productMarketing/projectManagement/2"> Import Dragon Data</a>     

                                                      <!-- <a class="nav-item nav-link" href="communication_filter.html">Detailübersicht </a>-->
                                                    </div>
                                                  </div>
                                                </nav>       
                                               </div>
                                            </div>








                                            <h4 class="text-red">{{ notification }}</h4>
                                            <br>
                                            {% if step == 0 %}
                                            {% include "productMarketing/projectManagement/massUpdate.html" %}

                                            {% elif step == 1 %}
                                            {% include "productMarketing/projectManagement/vrfcExport.html" %}

                                            {% elif step == 2 %}
                            
                                            {% include "productMarketing/projectManagement/overview.html" %}

                                            {% endif %}









                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock contents %}
<!-- Specific Page JS goes HERE  -->
{% block extra_javascript %}{% endblock extra_javascript %}



































